@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Concert+One');

nav {
  margin: 2rem!important;
}
nav.main ul {
  font-family: 'Concert One', cursive;
  font-size: 16px;
  padding: 0;
  margin:0;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
  display: block;
  color: #000;
  font-weight: 500;
  font-family: 'Fredoka One', cursive;
  text-decoration: none;
  text-align: right;
  padding: 0.5rem 1rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #6EB8BD;
}
#main-nav-toggle {
  display: none;
}
