@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

html {
	font: 12px/1.5 Helvetica, sans-serif;
}

@media screen and (max-width: 500px) { html {font-size: 12px;} }
@media screen and (max-width: 600px) { html {font-size: 14px;} }
@media screen and (min-width: 800px) { html {font-size: 16px;} }
@media screen and (min-width: 1300px) { html {font-size: 18px;} }
@media screen and (min-width: 1800px) { html {font-size: 23px;} }

body {
 background: white;
 color: #333;
 font-size: 1em;
 line-height: 1.4;
 padding: 0;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Fredoka One', cursive;
	margin: 1em 0 0.5em 0;
	padding: 0;
}



h1 { font-size: 2.2rem; }
h2 { font-size: 2.0rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

p {
	margin: 0;
	padding-bottom: 1.5rem;
	}

blockquote {
	border-left: 4px solid #6EB8BD;
	font-style: italic;
	margin: 0 0 1.5rem 2rem;
	padding: 1rem 2rem;
	position: relative;
}
blockquote .author {
	text-align: right;
}

/* Цитат с кавичка
	blockquote:before {
	display: block;
	content: '"';
	font-size: 4rem;
	position: absolute;
	top: -1rem; left: 0.1rem;
}*/

table {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 1.5rem;
	border: 1px solid #CCC;
	border-spacing: 0px;
	text-align: left;
	border-collapse: collapse;
	box-shadow: 0 0 2rem 0.1rem rgba(0,0,0,0.3);
}

table thead th {
	color: white;
	text-align: left;
	background: #009688;
	padding: 2rem;
	font-weight: bold;
}

table td, table th {
	border: 1px solid #CCC;
	padding: 1rem 0.5rem;
}

table td {
	height: 35px;
	background: #00968866;
	color: white;
}



table tr: nth-child(odd) td {
	background: #F1F1F1;
}

table tr:hover td {
	background: #009688ab;
	color: #FFF;
	border-color: #CCC;
	font-weight: bold;
} 

hr {
	margin: 2rem;
}

img[class^="align"] {
	max-width: 100%;
	height: auto;
	border: 0.4rem black solid;
	padding: 0.2rem;
	box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3)
}

.align-right {
	float: right;
	margin: 0 1rem 1.5rem 0;
}
.align-left {
	float: left;
	margin: 1rem 1rem 0 0;
}